.hr {
    margin-top: 1.5%;
    margin-left: 3%;
    width: 58rem;
}

.current {
    margin-left: 42%;
    color: #5dc0d1;
}

.current:hover {
    color: black;
}

div {
    display: inline;
}

.space {
    height: 40%;
}