body {
    background-color: rgba(229, 229, 229, 1);
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #2c292b;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 1.5rem;
    color: #2c292b;
    font-family: "Montserrat", sans-serif;
}

.footer {
    border-top: 1px solid black;
    flex-shrink: 0;
    position: fixed;
    height: 10%;
    bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    align-items: center;
    width: 94%;
}